{% extends "shop/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form class="card card-sn">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="search" placeholder="entre le nom du produit " name="item-name" class="form-control form-control-bordeless">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Recherche</button>
                    </div>
                </div>
            </form>
             
        </div>
    </div>
    <div class="row">
        {% for products in product%}
        <div class="col-md-3">
            <div class="card">
                <img src="{{products.image}}" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title">{{products.titre}}</div>
                    <div style="color: orange;font-weight: bold;" class="card-text">{{products.prix}}</div>
                    <button class="btn btn-warning" onclick={{details}}>Voire</button>
                    <button class="btn btn-success">Ajouter</button>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>



{% endblock  %}